
/*Estilo del boton cargar*/
label{
	display: inline-block;
	background-color: rgb(27, 160, 78);
	color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 1rem;
  }
  /*Estilo de Mis albumes*/
.gib-container{
	max-width: 350px;margin-left: auto;background-color:#cbc8c8; border-radius: 0.5rem;;
}

.progress{
	max-width: 40%; 
}
#progressbar{
	
	width: 25%;
}
.col{
	display: flex;
	align-items: center;
	justify-content: center;
}
#btn{
	margin-left:10px;
	display: inline-block;
	background-color: rgb(27, 160, 78);
	border-radius: 0.5rem;
	border: none;
	color: white;
	padding: 3px;
	font-family: sans-serif;
	text-align: center;